<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- C:\Users\Administrator\AppData\Roaming\NuGet -->
	<config>
  	<add key="globalPackagesFolder" value="d:\.nuget\packages\" />
  </config>

  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" /> -->
    <!-- <add key="LOCAL_NUPKGS" value="D:\sfxApis\NUPKGS" /> -->
  </packageSources>
  <activePackageSource>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </activePackageSource>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAlbCRRsvdu0Gxtxdr5jPYCQAAAAACAAAAAAAQZgAAAAEAACAAAAA+HDM8okasGqL1grJJGar4KjKhT6uhiZ3XbrAtOo9sgAAAAAAOgAAAAAIAACAAAACJgrgqgkWM5eW49CUex/vdteASEtAB2oXvTUvILIJffTAAAADQ5tD/UtBgBXPQvGyruDbThOLB7h71DkQ4WjleJPhL/9Drf+AnGdqzP1j2GSNlPcJAAAAAdgK5ZUvdMamcrZW/ggAb+MCysKgGJm0+nfNK/Q7K5n60DBSNtCfzaogJriNigXzf4cUhDNP/LoVsHuTGf9w/ew==" />
    <add key="https://nuget.smbsrc.net/" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAlbCRRsvdu0Gxtxdr5jPYCQAAAAACAAAAAAAQZgAAAAEAACAAAACq5n+O9c8a8yhyRCF7dVrBrzs+JerVPbq7oHtYiXVDNQAAAAAOgAAAAAIAACAAAACnFP3wby4TW16DkVcUx4sxfdNB4kTFZKxYBmeXcRnUBzAAAABq94s2O+FgoxytE/CshH4F+XNB3IzhVfVSu3frCodVuj3etHYwTejnVf3cSpH/f8FAAAAAmmJFZv9GqEHVqlKjtF+jQaVaMa2uHz4dwYqbaR7cgrUrOt1bIP+Dt0ZCOL2LmPaHqgBC0/JVpCi0UWuPgfxiWQ==" />
  </apikeys>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="1" />
    <add key="disabled" value="True" />
  </packageManagement>
</configuration>